/*1. importar fuente*/
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Playfair+Display+SC');



/*2. establecer el background*/
body {
  background-color: darkcyan;
}

.articulo {
  background-color: RGBA(107, 107, 107, 0.65);

}
.articulo-encabezado,
.articulo-pie,
.pie-principal
 {
  font-family: 'Playfair Display SC', serif;
}

.articulo-cuerpo {
  font-family: 'Kaushan Script', cursive;

}
/*4 .propiedades , alineacion texto*/
.articulo-encabezado {
text-align: left;
}
.articulo-cuerpo {
  text-align: justify;
}
.articulo-pie {
  text-align: right;
}
.pie-principal {
  text-align: center;

}

.articulo {
  /*
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-bottom: 100px;*/

  margin: 10% 10% 10% 10%;
  padding: 5% 5% 5% 5%;

}







/*6 añadir imagen de fondo*/
body{
  background-image: url("/images/fuji.jpg");
  background-size: cover;
  background-position:  center;
  background-repeat: no-repeat;

}
